<table>
  <colgroup>
      <col style="width:6%">
      <col style="width:18%">
      <col style="width:5%">
      <col style="width:5%">
      <col style="width:5%">
      <col style="width:5%">
      <col style="width:5%">
      <col style="width:5%">
      <col style="width:5%">
      <col style="width:5%">
      <col style="width:6%">
      <col style="width:5%">
      <col style="width:5%">
      <col style="width:5%">
      <col style="width:5%">
      <col style="width:5%">
      <col style="width:5%">
      <col style="width:5%">
      <col style="width:5%">
      <col style="width:5%">
      <col style="width:5%">
      <col style="width:5%">
  </colgroup>
  <tbody>
    <tr>
        <td colspan="2" style="text-align:center; font-weight:bold; font-size:8pt;">{{NIVEAU}}</td>
        <td colspan="12" style="text-align:center; font-weight:bold; font-size:8pt;">PPG &amp; Tests physiques-Anthropométrie</td>
        <td colspan="2" style="text-align:center; font-weight:bold; font-size:7pt;">AS:</td>
        <td colspan="6" style="text-align:center; font-weight:bold; font-size:7pt;">{{AS}}</td>
    </tr>
    <tr>
        <td rowspan="5" style="text-align:center; font-weight:bold; font-size:7pt;">N°</td>
        <td rowspan="4" style="text-align:center; font-weight:bold; font-size:8pt;">{{CLASSE}}</td>
        <td colspan="5" style="text-align:center; font-weight:bold; font-size:7pt;">Observations</td>
        <td colspan="7" style="text-align:center; font-weight:bold; font-size:7pt;">Longueur de piste (m):</td>
        <td colspan="2" style="text-align:center; font-weight:bold; font-size:7pt;">{{PISTE}}</td>
        <td colspan="6" style="text-align:center; font-weight:bold; font-size:7pt;">Assiduité</td>
    </tr>
    <tr>
        <td style="text-align:center; font-weight:bold; font-size:7pt;">D</td>
        <td style="text-align:center; font-weight:bold; font-size:7pt;">{{TOTD}}</td>
        <td rowspan="4" style="text-align:center; font-size:6pt;" class="vertical-text">Poids (Kg)</td>
        <td rowspan="4" style="text-align:center; font-size:6pt;" class="vertical-text">Taille (m)</td>
        <td rowspan="4" style="text-align:center; font-size:6pt;" class="vertical-text">BPM (repos)</td>
        <td rowspan="4" style="text-align:center; font-size:6pt;" class="vertical-text">Détente Vrtcl. (cm)</td>
        <td rowspan="4" style="text-align:center; font-size:6pt;" class="vertical-text">Détente Hrztl. (cm)</td>
        <td rowspan="4" style="text-align:center; font-size:6pt;" class="vertical-text">Navette (Palier)</td>
        <td rowspan="4" style="text-align:center; font-size:6pt;" class="vertical-text">Grp. Physiologique</td>
        <td rowspan="4" style="text-align:center; font-size:6pt;" class="vertical-text">Sprint 30m (s)</td>
        <td rowspan="4" style="text-align:center; font-size:6pt;" class="vertical-text">Equilibre (s)</td>
        <td rowspan="4" style="text-align:center; font-size:6pt;" class="vertical-text">Lnc MedBall (3kg)</td>
        <td rowspan="4" style="text-align:center; font-size:6pt;" class="vertical-text">Soupls. Assis (cm)</td>
        <td rowspan="4" style="text-align:center; font-size:6pt;" class="vertical-text">Soupls. Debout (cm)</td>
        <td style="text-align:center; font-weight:bold; font-size:6pt;">S1</td>
        <td style="text-align:center; font-weight:bold; font-size:6pt;">S2</td>
        <td style="text-align:center; font-weight:bold; font-size:6pt;">S3</td>
        <td style="text-align:center; font-weight:bold; font-size:6pt;">S4</td>
        <td style="text-align:center; font-weight:bold; font-size:6pt;">S5</td>
        <td style="text-align:center; font-weight:bold; font-size:6pt;">S6</td>
    </tr>
    <tr>
        <td style="text-align:center; font-weight:bold; font-size:7pt;">G</td>
        <td style="text-align:center; font-weight:bold; font-size:7pt;">{{TOTG}}</td>
        <td rowspan="3" style="text-align:center;"></td>
        <td rowspan="3" style="text-align:center;"></td>
        <td rowspan="3" style="text-align:center;"></td>
        <td rowspan="3" style="text-align:center;"></td>
        <td rowspan="3" style="text-align:center;"></td>
        <td rowspan="3" style="text-align:center;"></td>
    </tr>
    <tr>
        <td style="text-align:center; font-weight:bold; font-size:7pt;">F</td>
        <td style="text-align:center; font-weight:bold; font-size:7pt;">{{TOTF}}</td>
    </tr>
    <tr>
        <td style="font-weight:bold; font-size:7pt;">Nom & Prénom</td>
        <td style="text-align:center; font-weight:bold; font-size:7pt;">Sx</td>
        <td style="text-align:center; font-weight:bold; font-size:7pt;">Âge</td>
    </tr>
    {{ELEV_ROWS}}
  </tbody>
</table>